In [ ]:
Q1. What are the three measures of central tendency?

In [ ]:
The measure of Central tendency:
    1.Mean
    2.Median
    3.Mode

In [ ]:
Q2. What is the difference between the mean, median, and mode? How are they used to measure the  central tendency of a dataset

In [ ]:
Mean:-Sum of all observation is divided by number of observation.

Median:-Middle most values.

Mode:-Most frequency Values.

we take a example.
[1,2,4,5,6,12,1,8,100]

mean=1+2+4+5+6+12+1+8+100/9=139/9=15.4

median=first of all arrange [1,1,2,4,5,6,8,12,100]
            median=5 
    
mode=1

In [5]:
import seaborn as sns
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
df.mean()

/tmp/ipykernel_544/3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [7]:
df.median()

/tmp/ipykernel_544/530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

total_bill    17.795
tip            2.900
size           2.000
dtype: float64

In [8]:
df.mode()

   total_bill  tip   sex smoker  day    time  size
0       13.42  2.0  Male     No  Sat  Dinner     2

In [ ]:
Q3. Measure the three measures of central tendency for the given height data:  [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [9]:
data=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [10]:
import numpy as np

In [11]:
np.mean(data)

177.01875

In [13]:
np.median(data)

177.0

In [17]:
from scipy import stats

In [18]:
stats.mode(data)

/tmp/ipykernel_544/3267261142.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(data)

ModeResult(mode=array([177.]), count=array([3]))

In [ ]:
Q4. Find the standard deviation for the given data: 
[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [19]:
data2=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [20]:
np.std(data)

1.7885814036548633

In [ ]:
Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe  the spread of a dataset? Provide an example.

In [ ]:
Range:-Difference between highest observation and lowest observation.

Variance:-Variance is the statical measure of dispersion of spread of data point using mean.

Standard deviation:-Standard deviation is a measure that tells you how spread out the values in a data set are around the mean (average) of the data se

example:-[40,50,60,70,90,80,100]
    
    Range=highest observation-lowest observation=100-40=60
    
    variance=step1:find mean 
             step2:square observation-mean
             step3:summation 
             step4:divided by number of observation
    
    standard deviation =square root of variance

In [ ]:
Q6. What is a Venn diagram?

In [ ]:
Venn diagram is the graphiacal representation of relation between different of set.

In [ ]:
Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find: 
(i)  A B 
(ii) A ⋃ B

In [ ]:
(i)2,3,6
(ii)A U B =0,2,3,4,5,6,7,10

In [ ]:
Q8. What do you understand about skewness in data?

In [ ]:
Skewness is the statistical measure of asymmetry of data and random data its about mean.
1.Positive skewness
2.Negative skewness

In [ ]:
Q9. If a data is right skewed then what will be the position of median with respect to mean?

In [ ]:
one step forward

In [ ]:
Q10. Explain the difference between covariance and correlation. How are these measures used in  statistical analysis?

In [ ]:

Covariance and correlation are both measures used in statistics to describe the relationship and degree of association between two random variable

Covariance
1.positive 
2.Negative
3.Zero
 Correlation
    1.+1
    2.-1
    3.0

In [ ]:
Q11. What is the formula for calculating the sample mean? Provide an example calculation for a
dataset.

In [ ]:
Sample mean=Sum of observation/number of observation
          eg.1,4,5,7,8,6
            mean=1+4+5+7+8+6/6

In [1]:
import numpy as np 
import seaborn as sns

In [2]:
df3=sns.load_dataset("tips")

In [3]:
df3.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
df3.mean()

/tmp/ipykernel_104/3891983329.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df3.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [ ]:
Q12. For a normal distribution data what is the relationship between its measure of central tendency?

In [ ]:
In normal distribution data relation between its measure of central tendency
                               1.Mean
                               2.median
                               3.Mode
            IN central tendency measure central value but different way.

In [ ]:
Q13. How is covariance different from correlation?

In [ ]:
Covariance and correlation are both measures used in statistics to describe the relationship and degree of association between two random variable

Covariance
1.positive 
2.Negative
3.Zero
 Correlation
    1.+1
    2.-1
    3.0

In [10]:
data=[1,12,3,4,5,6,78,6,7,45,75]

In [11]:
np.cov(data)

array(872.6)

In [14]:
df3.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
df3.corr()

/tmp/ipykernel_104/3136175663.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df3.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [ ]:
Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.

In [ ]:
In central tendecy 1.mean
                   2.median
                   3.mode 
        Dispersion:
            1.Range
            2.Variance
            3.Dispersion